/*
Error: Undefined mixin 'module'.
        on line 1 of /Volumes/Locker/dev-blog/_sass/modules/browser.scss, in `module'
        from line 1 of /Volumes/Locker/dev-blog/_sass/modules/browser.scss

1: @include module("browser") {
2:   position: relative;
3:   @include transition(transform $anim-slight-resistance 1s, opacity $anim-ease 1s, visibility $anim-ease 1s);
4: 
5:   @include element("screen") {
6:     width: 574px;

Backtrace:
/Volumes/Locker/dev-blog/_sass/modules/browser.scss:1:in `module'
/Volumes/Locker/dev-blog/_sass/modules/browser.scss:1
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:349:in `block in visit_mixin'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/stack.rb:98:in `with_mixin'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:347:in `visit_mixin'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/stack.rb:79:in `block in with_base'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/root_node.rb:20:in `render'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/engine.rb:278:in `render'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:209:in `each'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:293:in `watch'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/compass-1.0.1/lib/compass/sass_compiler.rb:46:in `watch!'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/compass-1.0.1/lib/compass/commands/watch_project.rb:41:in `perform'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/compass-1.0.1/lib/compass/commands/base.rb:18:in `execute'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/compass-1.0.1/lib/compass/commands/project_base.rb:19:in `execute'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/compass-1.0.1/bin/compass:30:in `block in <top (required)>'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/compass-1.0.1/bin/compass:44:in `call'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/compass-1.0.1/bin/compass:44:in `<top (required)>'
/Users/Peter/.rvm/gems/ruby-2.2.1/bin/compass:23:in `load'
/Users/Peter/.rvm/gems/ruby-2.2.1/bin/compass:23:in `<main>'
/Users/Peter/.rvm/gems/ruby-2.2.1/bin/ruby_executable_hooks:15:in `eval'
/Users/Peter/.rvm/gems/ruby-2.2.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'module'.\A         on line 1 of /Volumes/Locker/dev-blog/_sass/modules/browser.scss, in `module'\A         from line 1 of /Volumes/Locker/dev-blog/_sass/modules/browser.scss\A \A 1: @include module(\"browser\") {\A 2:   position: relative;\A 3:   @include transition(transform $anim-slight-resistance 1s, opacity $anim-ease 1s, visibility $anim-ease 1s);\A 4: \A 5:   @include element(\"screen\") {\A 6:     width: 574px;"; }
