
<div class="nav_roof">
  <div class="l-content">
    <div class="nav_roof_item l-hidden-widescreen l-hidden-desktop">
      <p><a href="{{ site.baseurl}}/pricing/" class="js-pjax">Pricing</a></p>
    </div>
    <div class="nav_roof_item">
      <p><a href="https://guidebook.com/mobile-guides/">Blog</a></p>
    </div>
    <div class="nav_roof_item">
      <p><a href="http://support.guidebook.com" target="_blank">Support</a></p>
    </div>
    <div class="nav_roof_item">
      <p><span class="ic-nav_roof_chat vam mr5"></span><a href="{{ site.baseurl}}/contact/">Contact</a></p>
    </div>
    <div class="nav_roof_item">
      <p><span class="ic-nav_roof_phone vam mr5"></span>888-888-8888</p>
    </div>
  </div>
</div>

<nav class="nav l-content">
  <div class="nav_section nav_section-left">
    <div class="nav_item flush">
      <a class="logo js-pjax" href="{{ site.baseurl }}/"><h1>Guidebook</h1></a>
    </div>
  </div>
  <ul class="nav_section nav_section-right nav_section-links">

    <li class="nav_item l-hidden-laptop">
      <a href="{{ site.baseurl }}/pricing/" class="nav_link js-pjax {% if page.selected == 'pricing' %}is-selected{% endif %}">Pricing</a>
    </li>

    <li class="nav_item">
      <a href="{{ site.baseurl }}/create-an-app/" class="nav_link js-pjax {% if page.selected == 'create_an_app' %}is-selected{% endif %}">How it works</a>
    </li>

    <li class="nav_item">
      <a href="{{ site.baseurl }}/guides/" class="nav_link js-pjax {% if page.selected == 'guides' %}is-selected{% endif %}">Find a guide</a>
    </li>

    <li class="nav_item pr0">
      <a href="https://builder.guidebook.com/" class="btn nav_btn mr5 js-pjax" data-event-name="Login (Nav)">Login</a>
      <a href="{{ site.baseurl }}/demo/request/" class="btn nav_btn btn-primary js-pjax" data-event-name="Demo Request (Nav)">Request a demo</a>
    </li>
  </ul>

  <ul class="nav_section nav_section-right nav_section-menu">
    <li class="nav_item flush">
      <a href="#" class="nav_btn js-mobile-menu">
        <span class="hidden">Menu</span>
        <div class="shp-hamburger">
          <div class="shp-hamburger_line"></div>
          <div class="shp-hamburger_line second"></div>
          <div class="shp-hamburger_line third"></div>
        </div>
      </a>

    </li>
  </ul>
</nav>
