.l-content {
  margin-left: auto;
  margin-right: auto;
  @include pie-clearfix();

  @include mobile {
    width: 100%;
  }

  @include tablet {
    width: 100%;
  }

  @include laptop {
    width: $tablet;
  }

  @include desktop {
    width: $laptop;
  }

  @include widescreen {
    width: 100%;
    max-width: $max-width
  }
}

.section {
  margin-bottom: 80px;
  margin-top: 80px;
  @include pie-clearfix();

  &:last-child {
    margin-bottom: 0;
  }

  @include tablet {
    padding: 0 $gutter-mobile;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  @include mobile {
    padding: 0 $gutter-mobile;
    margin-bottom: 40px;
    margin-top: 40px;
  }
}


.section-divider {
  margin-bottom: 80px;
  margin-top: 80px;

  > hr {
    margin: 0;
  }

  @include tablet-and-mobile {
    margin-bottom: 40px;
    margin-top: 40px;
  }
}

.l-content-popped{

  @include widescreen {
    margin-left: -70px;
    margin-right: -70px;
  }
}

.l-content-inset {
  margin-left: auto;
  margin-right: auto;

  @include widescreen {
    max-width: 900px;
  }

  @include desktop {
    max-width: 800px;
  }

  @include laptop {
    max-width: 800px;
  }
}

.l-content-flush {

  @include tablet-and-mobile {
    margin-left: -$gutter-mobile;
    margin-right: -$gutter-mobile;
  }
}

.l-half{
  @include col(12);
}

.l-third {
  @include col(8);
}

.l-half {
  @include col(12);
}

.l-two-thirds {
  @include col(16);
}

.l-fourth{
  @include col(6);
}

.l-three-fourths{
  @include col(18);
}

.l-fifth{
  @include col(5);
  width: 20%;
}

.l-sixth{
  @include col(4);
}

.l-one {
  @include col(24);
}

.l-half-laptop {

  @include laptop {
    @include col(12);
  }
}

.l-half-tablet {

  @include tablet {
    @include col(12);
  }
}

.l-half-desktop {

  @include desktop {
    @include col(12);
  }
}

.l-hidden-laptop {

  @include laptop {
    display: none;
  }
}

.l-hidden-laptop-down {

  @include laptop-down {
    display: none;
  }
}

.l-hidden-tablet {

  @include tablet {
    display: none;
  }
}

.l-hidden-desktop {

  @include desktop {
    display: none;
  }
}

.l-hidden-widescreen {

  @include widescreen {
    display: none;
  }
}

.l-hidden-mobile {

  @include mobile {
    display: none;
  }
}

.l-hidden-non-mobile {

  @include non-mobile {
    display: none;
  }
}

.l-narrow-centered {
  width: 400px;
  margin-left: auto;
  margin-right: auto;

  @include mobile {
    width: auto;
  }
}

.l-small-centered {
  width: 600px;
  margin-left: auto;
  margin-right: auto;

  @include mobile {
    width: auto;
  }

  @include tablet {
    width: auto;
  }
}

.l-medium-centered {
  width: 800px;
  margin-left: auto;
  margin-right: auto;

  @include tablet {
    width: auto;
    max-width: 600px;
  }

  @include mobile {
    width: auto;
  }
}

.l-centered {
  margin-left: auto;
  margin-right: auto;
}

.l-full-width {
  display: block;
  width: 100%;
}

.l-pipes {
  & + & {
    display: inline-block;
    margin-left: 10px;
    border-left: 1px solid color("border");
    padding-left: 10px;
  }
}

.l-v-spaced {
  margin-bottom: 40px;
  margin-top: 40px;
}


.l-align-bottom {
  vertical-align: bottom;
}



@for $i from 1 through 24{
  .l-column-#{$i} {
    @include col($i);
  }
}


.l-spacing-column {

  @include tablet-and-mobile {
    display: none;
  }
}
