// Server Variables

$asset-url: '/';
$guidebook-image-url: 'http://guidebook.com/img/';



// Colors
// ======================================

$base-background: #fff;
$base-ink: #222;
$base-ink-light: #4E4E4E;
$base-primary: #439fd8;
$base-secondary: #515152; // #444
$base-danger: #ea5f5f;
$base-placeholder: #dce5eb;
$base-stroke: #e9e9e9;


// Borders, Corners, Shadows
// ======================================

$base-border: 1px solid $base-stroke;
$base-border-radius: 3px;
$base-box-shadow: 0 1px 2px rgba($base-ink, 0.25);
$base-img-border-radius: 2px;
$base-avatar-border-radius: 100%;


// Measurements
// ======================================

$base-padding: 20px;
$base-margin: 30px;
$max-width: 1200px;

// Animations
// ======================================

$anim-linear: linear;
$anim-ease: ease-in-out;
$anim-slight-bounce: cubic-bezier(0.34,1.61,0.7,1);
$anim-slight-resistance: cubic-bezier(0.694, 0.0482, 0.335, 1);

$anim-speed-fast: 150ms;
$anim-speed-normal: 250ms;
$anim-speed-slow: 350ms;
$anim-speed-v-slow: 500ms;


// Type
// ======================================

// Families
$whitney: 'Whitney SSm A', 'Whitney SSm B', 'Whitney A', 'Whitney B', sans-serif;
$gotham: 'Gotham SSm A', 'Gotham SSm B', Gotham, sans-serif;
$monospace: 'menlo', "bitstream vera sans mono", monospace;
$base-font-family: $whitney;
$secondary-font-family: $gotham;

// Weights
$base-weight: 400;
$base-weight-light: 300;
$base-weight-bold: 600;

// Sizes
$base-font-size: 13px;
$base-line-height: 1.8em;
$round-to-nearest-half-line: true;
$rhythm-unit: "rem";


%base-font {
  font-family: $base-font-family;
  font-weight: $base-weight;
}

%secondary-font {
  font-family: $secondary-font-family;
}
