/*
Error: Undefined mixin 'module'.
        on line 25 of /Volumes/Locker/dev-blog/_sass/modules/phones.scss, in `module'
        from line 25 of /Volumes/Locker/dev-blog/_sass/modules/phones.scss

20: $screen-color-light: #8F99A0;
21: $screen-color-dark: #787878;
22: 
23: // Base
24: 
25: @include module(phn) {
26:   position: relative;
27:   display: inline-block;
28: 
29:   @include submodule (has-shadow) {
30: 

Backtrace:
/Volumes/Locker/dev-blog/_sass/modules/phones.scss:25:in `module'
/Volumes/Locker/dev-blog/_sass/modules/phones.scss:25
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:349:in `block in visit_mixin'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/stack.rb:98:in `with_mixin'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:347:in `visit_mixin'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/stack.rb:79:in `block in with_base'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/root_node.rb:20:in `render'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/engine.rb:278:in `render'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:209:in `each'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:293:in `watch'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/compass-1.0.1/lib/compass/sass_compiler.rb:46:in `watch!'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/compass-1.0.1/lib/compass/commands/watch_project.rb:41:in `perform'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/compass-1.0.1/lib/compass/commands/base.rb:18:in `execute'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/compass-1.0.1/lib/compass/commands/project_base.rb:19:in `execute'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/compass-1.0.1/bin/compass:30:in `block in <top (required)>'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/compass-1.0.1/bin/compass:44:in `call'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/compass-1.0.1/bin/compass:44:in `<top (required)>'
/Users/Peter/.rvm/gems/ruby-2.2.1/bin/compass:23:in `load'
/Users/Peter/.rvm/gems/ruby-2.2.1/bin/compass:23:in `<main>'
/Users/Peter/.rvm/gems/ruby-2.2.1/bin/ruby_executable_hooks:15:in `eval'
/Users/Peter/.rvm/gems/ruby-2.2.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'module'.\A         on line 25 of /Volumes/Locker/dev-blog/_sass/modules/phones.scss, in `module'\A         from line 25 of /Volumes/Locker/dev-blog/_sass/modules/phones.scss\A \A 20: $screen-color-light: #8F99A0;\A 21: $screen-color-dark: #787878;\A 22: \A 23: // Base\A 24: \A 25: @include module(phn) {\A 26:   position: relative;\A 27:   display: inline-block;\A 28: \A 29:   @include submodule (has-shadow) {\A 30: "; }
