/*
Error: Undefined variable: "$z-content".
        on line 15 of /Volumes/Locker/dev-blog/_sass/modules/section-blocks.scss

10:     left: -3000em;
11:     right: -3000em;
12:     bottom: 0;
13:     top: 0;
14:     content: "";
15:     z-index: $z-content;
16:   }
17: 
18:   > .l-content {
19:     z-index: $z-content + 1;
20:     position: relative;

Backtrace:
/Volumes/Locker/dev-blog/_sass/modules/section-blocks.scss:15
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/script/tree/node.rb:50:in `perform'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:395:in `visit_prop'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/stack.rb:79:in `block in with_base'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:431:in `block (2 levels) in visit_rule'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:431:in `map'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/stack.rb:79:in `block in with_base'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:431:in `block (2 levels) in visit_rule'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:431:in `map'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/stack.rb:79:in `block in with_base'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/root_node.rb:20:in `render'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/engine.rb:278:in `render'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:209:in `each'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/vendor/listen/lib/listen/listener.rb:252:in `call'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/vendor/listen/lib/listen/adapter.rb:254:in `call'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$z-content\".\A         on line 15 of /Volumes/Locker/dev-blog/_sass/modules/section-blocks.scss\A \A 10:     left: -3000em;\A 11:     right: -3000em;\A 12:     bottom: 0;\A 13:     top: 0;\A 14:     content: \"\";\A 15:     z-index: $z-content;\A 16:   }\A 17: \A 18:   > .l-content {\A 19:     z-index: $z-content + 1;\A 20:     position: relative;"; }
