/*
Error: Undefined mixin 'module'.
        on line 1 of /Volumes/Locker/dev-blog/_sass/modules/section.scss, in `module'
        from line 1 of /Volumes/Locker/dev-blog/_sass/modules/section.scss

1: @include module("section") {
2: 
3:   @include submodule("flex-feature-large") {
4: 
5:     @include element("content", nested) {
6:       @extend %l-flex-row;

Backtrace:
/Volumes/Locker/dev-blog/_sass/modules/section.scss:1:in `module'
/Volumes/Locker/dev-blog/_sass/modules/section.scss:1
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:349:in `block in visit_mixin'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/stack.rb:98:in `with_mixin'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:347:in `visit_mixin'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/stack.rb:79:in `block in with_base'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/root_node.rb:20:in `render'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/engine.rb:278:in `render'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:209:in `each'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/vendor/listen/lib/listen/listener.rb:252:in `call'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/vendor/listen/lib/listen/adapter.rb:254:in `call'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'module'.\A         on line 1 of /Volumes/Locker/dev-blog/_sass/modules/section.scss, in `module'\A         from line 1 of /Volumes/Locker/dev-blog/_sass/modules/section.scss\A \A 1: @include module(\"section\") {\A 2: \A 3:   @include submodule(\"flex-feature-large\") {\A 4: \A 5:     @include element(\"content\", nested) {\A 6:       @extend %l-flex-row;"; }
