/*
Error: Undefined mixin 'module'.
        on line 22 of /Volumes/Locker/dev-blog/_sass/modules/tooltip.scss, in `module'
        from line 22 of /Volumes/Locker/dev-blog/_sass/modules/tooltip.scss

17: 
18: // -------------------------------------
19: //   Base
20: // -------------------------------------
21: 
22: @include module (tooltip) {
23:   background: white;
24:   position: absolute;
25:   padding: 5px 10px;
26:   width: $tooltip-width;
27:   @include border-radius($base-border-radius);

Backtrace:
/Volumes/Locker/dev-blog/_sass/modules/tooltip.scss:22:in `module'
/Volumes/Locker/dev-blog/_sass/modules/tooltip.scss:22
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:349:in `block in visit_mixin'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/stack.rb:98:in `with_mixin'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:347:in `visit_mixin'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/stack.rb:79:in `block in with_base'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/root_node.rb:20:in `render'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/engine.rb:278:in `render'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:209:in `each'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/vendor/listen/lib/listen/listener.rb:252:in `call'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/vendor/listen/lib/listen/adapter.rb:254:in `call'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'module'.\A         on line 22 of /Volumes/Locker/dev-blog/_sass/modules/tooltip.scss, in `module'\A         from line 22 of /Volumes/Locker/dev-blog/_sass/modules/tooltip.scss\A \A 17: \A 18: // -------------------------------------\A 19: //   Base\A 20: // -------------------------------------\A 21: \A 22: @include module (tooltip) {\A 23:   background: white;\A 24:   position: absolute;\A 25:   padding: 5px 10px;\A 26:   width: $tooltip-width;\A 27:   @include border-radius($base-border-radius);"; }
