/*
Error: $color: 'color("border")' is not a color for `lighten'
        on line 14 of /Volumes/Locker/dev-blog/_sass/modules/tsg.scss

9: // -------------------------------------
10: 
11: $tsg-width: 900px;
12: $tsg-width-desktop: 800px;
13: $tsg-width-laptop: 100%;
14: $tsg-border-color: lighten(color('border'), 5%);
15: 
16: 
17: // -------------------------------------
18: //   Base
19: // -------------------------------------

Backtrace:
/Volumes/Locker/dev-blog/_sass/modules/tsg.scss:14
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/script/tree/funcall.rb:303:in `reformat_argument_error'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/script/tree/funcall.rb:146:in `rescue in _perform'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/script/tree/funcall.rb:123:in `_perform'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/script/tree/node.rb:50:in `perform'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:469:in `visit_variable'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/stack.rb:79:in `block in with_base'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/tree/root_node.rb:20:in `render'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/engine.rb:278:in `render'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:209:in `each'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/vendor/listen/lib/listen/listener.rb:252:in `call'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/vendor/listen/lib/listen/adapter.rb:254:in `call'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Users/Peter/.rvm/gems/ruby-2.2.1/gems/sass-3.4.20/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: $color: 'color(\"border\")' is not a color for `lighten'\A         on line 14 of /Volumes/Locker/dev-blog/_sass/modules/tsg.scss\A \A 9: // -------------------------------------\A 10: \A 11: $tsg-width: 900px;\A 12: $tsg-width-desktop: 800px;\A 13: $tsg-width-laptop: 100%;\A 14: $tsg-border-color: lighten(color('border'), 5%);\A 15: \A 16: \A 17: // -------------------------------------\A 18: //   Base\A 19: // -------------------------------------"; }
