
// Location Map
// ======================================

// This controls the "pings" on the location map.  




// -------------------------------------
//   Variables
// -------------------------------------

$ping-speed: 2s;

// -------------------------------------
//   Base
// -------------------------------------

.location-map {
  position: relative;
}

.map-ping {
  position: absolute;
  width: 10px;
  height: 10px;
  @include border-radius(100%);
  border:1px solid color('blue');
  background: transparentize(color('blue'), .8);
  opacity: 1;
  @include transform(scale(0));
  @include transition-property(opacity, visibility, transform);
  @include transition-duration($ping-speed);
  @include transition-timing-function(ease);

  &.is-visible {
    opacity: 0;
    @include transform(scale(10));
    visibility: hidden;
  }

  &.is-hidden {
    @include transition-property(none);
  }

  @include mobile {
    &.is-visible {
      @include transform(scale(5));
    }
  }
}

