
// Content rotate w/ pagination
// ======================================

// Variables

$iphone6-width: 320px;
$iphone6-height: 643px;
$mobile-scale-factor: .75;
$iphone6-screen-width: 272px;
$iphone6-screen-height: 484px;


$nexus5-width: 360px;
$nexus5-height: 672px;
$nexus5-screen-width: 290px;
$nexus5-screen-height: 518px;


$screen-color-light: #8F99A0;
$screen-color-dark: #787878;

// Base

@include module(phn) {
  position: relative;
  display: inline-block;

  @include submodule (has-shadow) {

    &:before {
      position: absolute;
      left: -100px;
      right: -100px;
      bottom: -100px;
      height: 300px;
      content: "";
      @include background(radial-gradient(ellipse closest-side, rgba(0,0,0,.5), rgba(0,0,0,0) 100%));
      z-index: $z-content;
    }
  }

  @include submodule (has-drop-shadow) {

    &:after {
      content: "";
      position: absolute;
      top: 10px;
      left: 8px;
      right: 7px;
      bottom: 3px;
      @include border-radius(44px);
      @include box-shadow(0 0 18px 0 rgba(0,0,0,.2));
    }

    &.phn-nexus5 {

      &:after {
        content: "";
        position: absolute;
        top: 17px;
        left: 23px;
        right: 22px;
        bottom: 0;
        @include border-radius(44px);
        @include box-shadow(0 0 18px 0 rgba(0,0,0,.2));
      }
    }
  }

  @include submodule (nexus5) {

    .phn_chrome {
      background-image: url($asset-url + 'img/img_nexus5_chrome.png');
      width: $nexus5-width;
      height: $nexus5-height;
      @include image-2x($asset-url + 'img/2x/img_nexus5_chrome@2x.png', 354px, 665px);

      @include mobile {
        width: $nexus5-width * $mobile-scale-factor;
        height: $nexus5-height * $mobile-scale-factor;
        background-size: ($nexus5-width * $mobile-scale-factor) ($nexus5-height * $mobile-scale-factor);
        @include image-2x($asset-url + 'img/2x/img_nexus5_chrome@2x.png', $nexus5-width * $mobile-scale-factor, $nexus5-height * $mobile-scale-factor);
      }
    }

    .phn_screen {
      width: $nexus5-screen-width;
      height: $nexus5-screen-height;
      top: 63px;
      left: 35px;
      padding: 0;
      background-color: $screen-color-light;
      @include border-radius(0);

      @include mobile {
        width: $nexus5-screen-width * $mobile-scale-factor;
        height: $nexus5-screen-height * $mobile-scale-factor;
        top: 63px * $mobile-scale-factor;
        left: 35px * $mobile-scale-factor;
      }
    }

  }

  @include element (chrome) {
    background: url($asset-url + 'img/img_iphone6_flat.png') center center no-repeat;
    @include image-2x($asset-url + 'img/2x/img_iphone6_flat@2x.png', $iphone6-width, $iphone6-height);
    width: $iphone6-width;
    height: $iphone6-height;
    z-index: $z-content + 1;
    position: relative;

    @include mobile {
      width: $iphone6-width * $mobile-scale-factor;
      height: $iphone6-height * $mobile-scale-factor;
      background-size: ($iphone6-width * $mobile-scale-factor) ($iphone6-height * $mobile-scale-factor);
      @include image-2x($asset-url + 'img/2x/img_iphone6_flat@2x.png', $iphone6-width * $mobile-scale-factor, $iphone6-height * $mobile-scale-factor);
    }
  }

  @include submodule (iphone6-med) {

    .phn_chrome {
      background-image: url($asset-url + 'img/img_iphone6_chrome_flat.png');
      @include image-2x($asset-url + 'img/2x/img_iphone6_chrome_flat@2x.png', $iphone6-width, $iphone6-height);

      @include mobile {
        @include image-2x($asset-url + 'img/2x/img_iphone6_chrome_flat@2x.png', $iphone6-width * $mobile-scale-factor, $iphone6-height * $mobile-scale-factor);
      }
    }
  }

  @include submodule (nexus5-light) {

    .phn_chrome {
      background-image: url($asset-url + 'img/img_nexus5_chrome_light.png');
      @include image-2x($asset-url + 'img/2x/img_nexus5_chrome_light@2x.png', 354px, 665px);

      @include mobile {
        @include image-2x($asset-url + 'img/2x/img_nexus5_chrome_light@2x.png', $nexus5-width * $mobile-scale-factor, $nexus5-height * $mobile-scale-factor);
      }
    }
  }



  @include element (screen) {
    position: absolute;
    //background: $screen-color-light;
    width: $iphone6-screen-width;
    height: $iphone6-screen-height;
    top: 74px;
    left: 24px;
    overflow: hidden;
    @include border-radius(2px);
    z-index: $z-content + 2;
    padding: 0;

    @include mobile {
      width: $iphone6-screen-width * $mobile-scale-factor;
      height: $iphone6-screen-height * $mobile-scale-factor;
      left: 23px * $mobile-scale-factor;
      top: 75px * $mobile-scale-factor;
    }
    
    > img {
      min-width: 100%;
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 1;
      display: block;
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      content: "";
      border: 1px solid rgba(0,0,0,.2);
      @include border-radius(2px);
    }
  }
 
}
