@include module("builder") {

  @include element("hero") {
    position: relative;
  }

  @include element("hero_bgd") {
    position: absolute;
    top: 0;
    left: -25px;
    right: 0;
    bottom: 0;
    background-image: url($asset-url + 'img/builder/img_builder_hero_bgd.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    @include transition(all $anim-slight-bounce 2s);
    @include transform(scale(.9) translateZ(0));
    opacity: 0;

    &.is-ready {
      @include transform(scale(1) translateZ(0));
      opacity: 1;
    }

    &.is-completed-animation {
      @include animation(grow-shrink-slight 10s infinite $anim-ease);
      opacity: 1;
    }

    @include tablet-and-mobile {
      left: -80px;
      right: -80px;
    }
  }

  @include element("hero_phones") {
    opacity: 0;
    @include transition(all $anim-slight-bounce 650ms);
    @include transform(translateY(50px) translateZ(0));
    @include transition-delay(350ms);
    max-width: 685px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    min-height: 450px;

    @include tablet-and-mobile {
      margin-top: 0;
      margin-bottom: 40px;
      min-height: 0;
    }

    &.is-ready {
      @include transform(scale(1) translateY(20px) translateZ(0));
      opacity: 1;
    }
  }

  @include element("line") {
    position: absolute;
    left: 108%;
    height: 1px;
    top: 18px;
    z-index: $z-content;
    opacity: 0;
    width: 0;

    @include transition(all $anim-slight-resistance 1s);

    &:after {
      position: absolute;
      right: -5px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      content: "";
      top: -2px
    }

    &.is-visible {
      opacity: .8;
      visibility: visible;
      width: 100px;
    }

    &.is-right {
      left: auto;
      right: 108%;

      &:after {
        right: auto;
        left: -5px;
      }
    }

    &.is-longer {
      &.is-visible {
        width: 150px;
      }
    }

    .is-hovered & {
      opacity: .1;
    }

    @each $color in ("red", "blue", "teal", "green") {
      &.#{$color} {
        background: color("#{$color}");

        &:after {
          background: color("#{$color}");
        }
      }
    }

    @include tablet-and-mobile {
      display: none;
    }
  }
}
